/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --bg-main:#141922;
    --bg-nav:#000000;
    --bg-footer:#282828;
    --text-w:#ffffff;
    --text-g:#7d7f84;
    --border:#adff2f;
}

html{
    scroll-behavior: smooth;
}
 
#Wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-nav);
    color: var(--text-w);
    overflow: hidden;
}

.upper-text{
    text-transform: uppercase;
}

img{
    width: 100%;
    display: block;
}

/* Flex rule */
.d-flex{
    display: flex;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
    align-content: center;
}

.justify-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 20px;
}

.justify-between{
    justify-content: space-between;
}





/* Main */
main{
    width: 100%;
    height: calc(100% - 90px);
}

/* NavBar */
#NavBar{
    width: 230px;
    min-height: 420px;
    background-color: var(--bg-nav);
}

.Nav-top{
   width: 100%;
   height:calc(100% - 90px);
}

.Nav-bot{
    width: 100%;
    height: 90px;
}   

.logo{
    padding: 15px;
}

.logo img{
    width: 70%;
}

.logo-small img{
    width: 80%;
}

.logo-small{
    padding: 10px 0 0 10px;
    display: none;
}

#NavBar a{
    color: var(--text-g);
    text-decoration: none;
    border-left: 2px solid transparent;
    padding: 8px 0 0 10px;
}

#NavBar .side-ul img{
    width: 30px ;
    display: inline-block;
    opacity: 0.7;
}

#NavBar a:hover{
    color: var(--text-w);
    border-left: 2px solid var(--border);
}

#NavBar a:hover img{
    opacity: 1;
}

#NavBar span{
    padding-left: 5px;
}

#NavBar h5{
    color: var(--text-w);
    padding: 15px;

}

.icon{
    font-size: 40px;
    padding-left: 15px;
}

.grey{
    color: var(--text-g);
}

.grey:hover{
    color: var(--text-w);
}

#NavBar .overflow li{
    padding: 8px 0 0 15px;
    font-size: 14px;
    color: var(--text-g);
}

#NavBar .overflow li:hover{
    color: var(--text-w);
}

.overflow{
    overflow-y: auto;
}

.p15-left{
    padding-left: 10px;
}

.Nav-bot img{
    width: 20px;
    opacity: 0.7;
}

.Nav-bot hr{
    margin: 10px 0 0 15px;
    width: 200px;
    color: var(--text-g);
}

.Nav-bot .grey:hover img{
    opacity: 1;
}

.none{
    height: calc(100% - 188px);
    display: flex;
    flex-direction: column;
}

.relative{
    width: 25px;
    height: 25px;
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    background-color: var(--text-g);
    overflow: hidden;
}

.relative img{
    width: 100%;
}

.rel{
    position: relative;
}

.absolute{
    position: absolute;
    top: 17px;
    left: 50px;
    color: var(--text-w);
}




/* Main Content */
#Main-Content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--bg-main);
    overflow-y: auto;
}

.Transparent-nav{
    height: 80px;
    position: fixed;
    width:calc(100% - 230px);
    top:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1001;
}

#Main-Content .Transparent-nav a{
    padding: 8px 16px;
    border: 1px solid var(--text-g);
    color: var(--text-g);
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
}

#Main-Content .Transparent-nav a:hover{
    transform: scale(1.02);
    color: var(--text-w);
    border: 1px solid var(--text-w);
}

.Explore{
    margin: 90px auto 0px;
}

#Main-Content .Explore ul{
    list-style: none;
}

#Main-Content .Explore li{
    padding: 0 20px;
    font-size: 13px;
    color: var(--text-g);
    line-height: 40px;
    border-bottom: 2px solid transparent;
}

#Main-Content .Explore li:after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: transparent;

}

#Main-Content .Explore li:hover{
    color: var(--text-w);
}

#Main-Content .Explore li:hover:after,
#Main-Content .Explore li.active:after{
    background-color: var(--border);
}

#Main-Content h2{
    padding: 35px 0px 20px 20px;
}

.card{
    width:calc((100% / 6) - 20px);
    cursor: pointer;
}

#Main-Content h3{
    padding: 15px 0 8px 0;
    text-align: center;
}

#Main-Content .card p{
    text-align: center;
    font-size: 12px;
    color: var(--text-g);
}

.text{
    font-size: 12px;
    color: var(--text-g);
    padding: 0px 0px 20px 20px;
}

.p20-left{
    padding-left: 20px;
}

.card-img{
    border-radius: 50%;
    overflow: hidden;
}
.cover{
    position: relative;
}

.card .cover::after{
    font-family: 'Font Awesome 6 Free';
    content: '\f144';
    font-size: 3rem;
    display: flex;
    opacity: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .cover::after{
    opacity: 1;
}   

/* Play Bar */
#PlayBar{
    background-color: var(--bg-footer);
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

#PlayBar img{
    width: 40px;
    display: inline-block;
}

.p10-left{
    padding-left: 10px;
}   

.p50-left{
    padding-left: 50px;
}

.p25-left{
    padding-left: 25px;
}

.size{
    font-size: 30px;
}

.bar{
    height: 3px;
    width: 300px;
    background-color: var(--border);
}

.half1{
    width: 20%;
    background-color: var(--text-g);
}

.half2{
    width: 80%;
    background-color: rgb(98, 95, 95);
}

.p10-right{
    padding-right: 10px;
}

.bar2{
    height: 3px;
    width: 80px;
    background-color: var(--border);
    margin-right: 10px;
}
































/* Responsive */
/* XS */
@media screen and (max-width: 575px){
    #NavBar{
        width: 50px;
    }
    #Main-Content{
        width:calc(100% - 50px);
    }
    .Transparent-nav{
        width:calc(100% - 50px);
    }
    .card{
        width:calc((100% / 2) - 20px);
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
    }
    #NavBar span{
        display: none;
    }
    .none{
        display: none;
    }
    .col-flex{
        flex-direction: column;
    }
    .bar2{
        display: none;
    }
    .bar{
        width: 80px;
    }
}
/* S */
 @media screen and (min-width: 576px) and (max-width: 767px){
    .card{
        width:calc((100% / 2) - 20px);
    }
    .col-flex{
        flex-direction: column;
    }
    .bar2{
        display: none;
    }
    .bar{
        width: 150px;
    }
 }
/* M */
@media screen and (min-width:768px) and (max-width: 991px){
    .card{
        width:calc((100% / 3) - 20px);
    }
    .bar2{
        display: none;
    }
    .col-flex{
        flex-direction: column;
    }
}
/* L */
@media screen and (min-width: 992px) and (max-width: 1200px){
    .card{
        width:calc((100% / 4) - 20px);
    }
}

@media screen and (max-height: 90px){
    .Transparent-nav{
        display: none;
    }
}